
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <img class="card-img-top" [src]="cadeau.image" alt="Card image cap">
      <h5 class="card-title">{{cadeau.title}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="d-flex justify-content-between">
        <button class="btn btn-success">Reserver</button>
        <button (click)="deleteCadeau(cadeau.id)" class="btn btn-danger">Supprimer</button>
      </div>
    </div>
</div>